.single-review {
    color: #538fbd;
    background-color: #f2f8ff;
    width: 80%;
    overflow-y: scroll;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0.5%;
    text-align: center;

    &__controls {
        text-align: left;
        &-save,
        &-edit {
            background-color: transparent;
            border-color: transparent;
            color: #a9c4f9;
        }
        &-save:hover,
        &-edit:hover {
            cursor: pointer;
            color: #538fbd;
        }
    }

    &__heading {
        font-size: 3rem;
        margin-top: 0;
    }

    &__about {
        &-description:after,
        &-address:after,
        &-district:after {
            content:"\000A";
            white-space: pre;
        }
    }

    &__ratings {
        &-sauce,
        &-price,
        &-quality {
            span:after {
                content:"\000A";
                white-space: pre;
            }
        }

        &-sauce:after,
        &-price:after,
        &-quality:after {
            content:"\000A";
            white-space: pre;
        }
    }
}